body {
  margin: 0;
  padding-top: 25px;
  font-family: sans-serif;
  font-size: 200%;
}

#root {
  width: 100%;
}

.form-group{
  border-top: 10px solid darkolivegreen;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
